.footer{
    background-color: $grisOscuro;
    margin: 0;

    .contenedor-footer{
        padding: calc($separacion/2);
        display: flex;
        justify-content: center;
    }

    .copyright{
        color: $blanco;
        text-align: center;
        margin: 0;
    }
}
